@import 'reset.scss';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900&display=swap);

$card-count: 15;

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: #5c6579;
  background-color: #fcfcfc;
}
h1 {
  font-family: 'Urbanist', sans-serif;
  color: #161527;
  font-size: 48px;
  font-weight: 900;
  margin: 20px 0;
  text-align: center;
}
h2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 36px;
  font-weight: 800;
  margin: 20px 0;
  text-align: center;
  color: #161527;
}
p {
  line-height: 140%;
  margin: 10px 0;
  text-align: center;
  font-weight: 300;
}
ol {
  list-style: decimal;
  padding: 15px 25px;
}
ul {
  list-style: disc;
  padding: 15px 25px;
}
li {
  line-height: 150%;
}
ol {
  li {
    &::marker {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
strong {
  font-weight: 600;
}
.section {
  margin-bottom: 4rem;
}

.header {
  width: 100%;
  z-index: 99;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: 0px 0px 54px 0px #00000026;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
  &__logo {
    display: flex;
    flex: 0 0 115px;
  }
  &__auth {
    display: flex;
    align-items: center;
    gap: 14px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 116px;
      border-radius: 22px;
      padding: 14px;
      font-size: 12px;
      transition: 0.3s ease-in-out;
    }
    .btn-1 {
      background: linear-gradient(90deg, #3831f2 -18.01%, #1a13e4 123.6%);
      color: #fff;
      border: 1px solid transparent;
    }
    .btn-2 {
      border: 1px solid #1a13e4;
      color: #1a13e4;

      &:hover {
        box-shadow: 0 0 15px #1a13e4;
      }
    }
  }
}
.main {
  height: 100%;
  flex: 1 1 auto;
  padding: 0 0 5rem;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #3831f2 -18.01%, #1a13e4 123.6%);
    border-radius: 40px;
    padding: 16px;
    width: 200px;
    margin: 20px auto 0;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
  .banner {
    background: url('../img/banner.png') center/cover no-repeat;
    border-radius: 30px;
    min-height: 420px;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4rem;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 0.1rem;
      max-width: 50%;
    }

    &__title {
      color: #fff;
      font-size: 52px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__subtitle {
      color: #e8def8;
      font-size: 34px;
      font-weight: 600;
    }
    &__btn {
      display: flex;
      justify-content: center;
      padding: 18px;
      background-color: #fff;
      color: #000;
      width: 218px;
      border-radius: 40px;
      font-size: 20px;
      margin-top: 1.5rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgb(194, 194, 194);
      }
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0 4rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 2px 14px 0px #0000001a;
      padding: 14px 24px;

      &__header {
        display: grid;
        grid-template-columns: 0.4fr 1fr 0.5fr 0.5fr;
        align-items: center;
        gap: 1rem;
      }
      &__img {
        width: 180px;
        height: 100px;
        position: relative;

        &::before {
          position: absolute;
          top: -5px;
          left: -5px;
          width: 34px;
          height: 34px;
          background: rgb(232, 181, 181);
          color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
        }

        img {
          object-fit: cover;
        }
      }
      &__bonus {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        background-color: #f8faff;
        padding: 12px 20px;
        border-radius: 10px;

        .text {
          text-align: center;

          &:first-child {
            flex: 1;
          }

          &__title {
            color: #767779;
            font-weight: 300;
          }
          &__subtitle {
            font-family: 'Urbanist', sans-serif;
            color: #161527;
            font-size: 18px;
            font-weight: 800;
          }
        }
      }
      &__code {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        border: 1px dashed #3029ef;
        padding: 6px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #3029ef34;
        }

        .code__title {
          font-size: 10px;
          text-transform: uppercase;
          color: #585861;
        }
        .promocode {
          color: #3029ef;
          font-size: 14px;
        }
        .code__img {
          display: flex;

          img {
            width: 18px;
            height: 18px;
          }
        }
      }
      &__btn {
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(90deg, #3831f2 -18.01%, #1a13e4 123.6%);
          border-radius: 40px;
          padding: 16px;
          width: 100%;
          color: #fff;
          transition: all 0.3s ease-in-out;

          &:hover {
            opacity: 0.9;
          }
        }
      }
      &__footer {
        border-top: 1px solid #e2e2e2;
        p {
          text-align: left;
        }
        .adv {
          display: flex;
          gap: 2rem;

          .pros {
            .adv__title {
              color: #50a148;
            }
          }
          .cons {
            .adv__title {
              color: #dc3f4d;
            }
          }

          &__title {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          &__list {
            color: #161527;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }
    }
    .card:nth-child(1) {
      .card__img {
        &::before {
          background: linear-gradient(180deg, #ffe62b 0%, #f69d05 100%);
        }
      }
    }
    .card:nth-child(2) {
      .card__img {
        &::before {
          background: linear-gradient(180deg, #e9eaeb 0%, #bfc2cf 100%);
        }
      }
    }
    .card:nth-child(3) {
      .card__img {
        &::before {
          background: linear-gradient(180deg, #ffb027 0%, #ff802c 100%);
        }
      }
    }
    @for $i from 1 through $card-count {
      $selector: '.card:nth-child(#{$i}) .card__img';

      #{$selector} {
        &::before {
          content: '#{$i}';
        }
      }
    }
  }
  .nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 12px 0px #00000017;
    border-radius: 20px;
    max-width: 50vw;
    margin: 0 auto;
    margin-bottom: 4rem;

    &__title {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;

      img {
        transition: transform 0.3s ease;
      }
    }

    .nav__title.active {
      img {
        transform: rotate(180deg);
      }
    }

    &__content {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        list-style: none;

        li {
          font-weight: 300;

          &:hover {
            color: #1a13e4;
            font-weight: 400;
            list-style: disc;
          }
        }
      }
    }
  }
  .content {
    ol {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      padding: 0;
      font-weight: 300;
      color: #161527;
      counter-reset: my-counter;

      li {
        counter-increment: my-counter;
        position: relative;
        padding-left: 40px;
        &::before {
          content: counter(my-counter);
          position: absolute;
          left: 0;
          top: 0;
          width: 30px;
          height: 30px;
          background-color: gold;
          color: #000;
          font-weight: bold;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  h2.left {
    text-align: left;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      flex: 0 0 35%;
      max-width: 35%;
    }
  }
  .section-2 {
    p {
      text-align: left;
    }
  }
  .small-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 4rem;

    .small-card {
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;
      gap: 1rem;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 2px 14px 0px #0000001a;
      background-color: #fff;
      padding: 14px;

      p {
        text-align: left;
      }
      .title {
        color: #0c0d1e;
      }
      .small-card-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, #3831f2 -18.01%, #1a13e4 123.6%);
        border-radius: 40px;
        padding: 16px;
        width: 100%;
        color: #fff;
        transition: all 0.3s ease-in-out;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .section-3 {
    margin: 2rem 0 4rem;
    .items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;

      .item {
        flex: 0 0 calc(50% - 2rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__title {
          border-radius: 20px;
          padding: 6px;
          background-color: #ffd000;
          color: #161527;
          width: 83px;
          display: flex;
          justify-content: center;
          font-size: 12px;
          text-transform: uppercase;
        }
        &__subtitle {
          font-family: 'Urbanist', sans-serif;
          color: #161527;
          font-weight: 700;
        }
        &__desc {
          font-weight: 300;
        }
      }
    }
    img {
      max-width: 20%;
      flex: 0 0 20%;
    }
  }
  .section-4 {
    margin: 2rem 0 4rem;
    .adv {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;

      .pros {
        background: #eeffec;
        padding: 24px;
        flex: 0 0 50%;
        border-radius: 10px;

        .adv__title {
          color: #50a148;
        }
      }
      .cons {
        background: #fff4f5;
        padding: 24px;
        flex: 0 0 50%;
        border-radius: 10px;

        .adv__title {
          color: #dc3f4d;
        }
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      &__list {
        color: #161527;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
  .faq__img {
    width: 20%;
    margin: 0 auto;
    display: flex;
  }
  .faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 70vw;
    margin: 0 auto;
    &__item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: 0px 2px 14px 0px #0000001a;
      background-color: #fff;
      border-radius: 20px;
      padding: 24px;
    }
    &__title {
      color: #0c0d1e;
    }
    p {
      text-align: left;
    }
  }
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}
.footer {
  padding: 30px 0;
  background-color: #0c0d1e;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;

    img {
      height: 50px;
    }
  }
  &__coop {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .section {
    margin-bottom: 2rem;
  }
  .header {
    .container {
      gap: 15px;
      padding: 15px 20px;
      margin: 0 20px;
    }

    &__auth {
      .btn {
        padding: 10px;
        width: 86px;
      }
      .btn-2 {
        display: none;
      }
    }
  }
  .container {
    margin: 0 20px;
  }
  .main {
    padding: 0 0 2rem;
    .banner {
      background: url('../img/mob-banner.png') center/cover no-repeat;
      padding: 50px 25px;
      align-items: flex-start;
      justify-content: center;
      min-height: 550px;
      margin-bottom: 2rem;

      &__content {
        max-width: 100%;
      }
      &__title {
        font-size: 24px;
        text-shadow: 0 0 2px black;
      }
      &__subtitle {
        font-size: 18px;
        text-shadow: 0 0 2px black;
      }
      &__btn {
        width: 100%;
        font-size: 16px;
        padding: 16px;
        margin-top: 0.5rem;
      }
    }
    .cards {
      margin: 1rem 0 2rem;
      .card {
        &__header {
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }
        &__img {
          width: 100%;

          img {
            width: 100%;
            border-radius: 10px;
          }
        }
        &__bonus {
          flex-direction: column;
        }
        &__footer {
          .adv {
            flex-direction: column;
            gap: 0.5rem;

            &__list {
              font-size: 14px;
            }
          }
        }
      }
    }
    .nav {
      max-width: 100%;
      margin-bottom: 2rem;
    }
    .flex {
      flex-direction: column;
    }
    .section {
      flex-direction: column-reverse;

      img {
        max-width: 60%;
      }
    }
    h2.left {
      text-align: center;
    }
    .small-cards {
      gap: 1rem;
      .small-card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .small-card-img {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
    .section-3 {
      margin: 1rem 0 2rem;
      .items {
        flex-direction: column;
        gap: 1rem;
      }
    }
    .section-4 {
      margin: 1rem 0 2rem;

      .adv {
        flex-direction: column;
        gap: 1rem;
      }
    }
    .faq {
      max-width: 100%;

      &__item {
        gap: 0.2rem;
        padding: 14px;
      }
    }
    .faq__img {
      width: 40%;
    }
  }

  .footer {
    padding: 20px 0;

    &__icons {
      gap: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .slider {
    flex-wrap: wrap;
    overflow: visible;
  }

  .slide {
    width: calc(50% - 10px);
  }

  .dots {
    display: none;
  }
}

// slider
.custom-slider {
  margin-bottom: 2rem;
  .swiper-slide {
    border-radius: 10px;
    padding: 20px;
  }
  .slide__img {
    flex: 0 0 20%;

    img {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }
  .slide__content {
    .title {
      font-size: 20px;
      color: #161527;
      font-family: 'Urbanist', sans-serif;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        max-width: 44px;
      }
    }
    p {
      text-align: left;
      color: #161527;
    }
  }
}
.slider-1 {
  .swiper-slide {
    box-shadow: 0 0 5px #0000001a;
    background-color: #fff;
  }
}
.slider-2 {
  .swiper-slide {
    background: #f2f7ff;
  }
}
.slider-3 {
  .swiper-slide {
    background: #ffd954;
  }
}

.custom-slider .swiper {
  display: block;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .custom-slider {
    margin: 2rem 0 4rem;
  }
  .custom-slider .swiper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .custom-slider .swiper-wrapper {
    display: contents;
  }

  .custom-slider .swiper-slide {
    width: calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
    height: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .custom-slider .swiper-pagination {
    display: none;
  }
  //   slider1
  .custom-slider.slider-1 .swiper-slide:nth-child(1),
  .custom-slider.slider-1 .swiper-slide:nth-child(4) {
    flex: 0 0 calc(55% - 10px);
  }
  .custom-slider.slider-1 .swiper-slide:nth-child(2),
  .custom-slider.slider-1 .swiper-slide:nth-child(3) {
    flex: 0 0 calc(45% - 10px);
  }
  //   slider2
  .custom-slider.slider-2 .swiper-slide:nth-child(1),
  .custom-slider.slider-2 .swiper-slide:nth-child(2) {
    flex: 0 0 calc(50% - 10px);
  }
  .custom-slider.slider-2 .swiper-slide:nth-child(3),
  .custom-slider.slider-2 .swiper-slide:nth-child(4),
  .custom-slider.slider-2 .swiper-slide:nth-child(5) {
    flex: 0 0 calc(33% - 10px);
  }
}
